.rojo {
    color: red;
}

/* Input numbers */
/* Chrome, Safari, Edge, Opera, Firefox */ 
/* input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {   
    -webkit-appearance: none;   margin: 0; 
}
input[type='number'] {   
    -moz-appearance: textfield; 
} */