<nav id="navbar-example2" class="navbar navbar-light bg-light d-flex justify-content-md-around">
    <ul class="nav nav-pills d-flex flex-column flex-md-row">
        <li class="navbar-brand">
            <a class="nav-link fuente" href="./home#fm">FIBRA + MÓVIL</a>
        </li>
      <li class="navbar-brand">
        <a class="nav-link fuente" href="./home#mov">MÓVIL</a>
      </li>
      <li class="navbar-brand">
        <a class="nav-link fuente" href="./home#onmo">SOLO FIBRA</a>
      </li>
    </ul>
  </nav>
  <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="mt-3 p-3">
    <h4 id="fm">FIBRA + MÓVIL</h4>
    <p>Patrón</p>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <h4 id="mov">MÓVIL</h4>
    <p>Manu</p>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <h4 id="onmo">SOLO FIBRA</h4>
    <p>Mario</p>
  </div>