<div class="footer">

  <div class="submenu pt-5 ">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul>
            <b>SAMA</b>
            <br />
            <li>Somos una compañia ética y sencilla. Disfruta de fibra óptica, gigas en tu móvil y llamadas ilimitadas
              de
              la mano de un operador 100% gallega</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <b>MENÚ</b>
            <br />
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <b>EMPRESA</b>
            <br />
            <li><a routerLink="./aviso-legal">Aviso legal</a></li>
            <li><a routerLink="./cookies">Politica de cookies</a></li>
            <li><a routerLink="./privacidad">Politica de privacidad</a></li>
            <li><a routerLink="./conocenos">Conócenos</a>
          </ul>
        </div>
        <div class="col">
          <ul>
            <b>Contacto</b>
            <br />
            <li>CALLE COPERNICO, NUM. 6 OFICINA 2.8 15008 CORUÑA (A) - (CORUÑA, A)</li>
            <li><a href="tel:+34684603551">684 60 35 51</a></li>
            <li>direccion@samatelecomunicaciones.com
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="copyright text-center p-4">
    Todos los derechos reservados © 2022
  </div>
  <!-- Copyright -->
</div>