li {
    list-style:none;
}

.submenu {
    background-color: #F6F6F6;
}

.copyright {
    background-color: black;
    font-size: 12px;
    color: #fff;
}

.footer {
    position:fixed;
    bottom:0px;
    width:100%;
    background:#999;
 }